#fig
#point-transformer-pytorch
#useless_code.py
#uselessCode2.py
#draw_ap.py
#other.py
#temp.py
#testClassify.py
#testReal.py
#testAll.sh
#testAll_1.sh
#datapostprocess.py
#datapostprocess_scene.py
#GTdatapostprocess.py
#GTdatapostprocessV2.py
#GTdatapostprocessV3.py
start.sh